@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.comment__form {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
  
    &-field {
      padding-top: 1rem;
    }
    &-btn {
      background-color: $forest-green;
      color: $white;
      margin-left: auto;
      margin-top: 1rem;
    }
  }
  
  
  .label, .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.3rem;
  }
  .input {
    outline: none;
    border:  solid $sea-green;
    border-radius: 0.3rem;
    padding-bottom: 0.5rem;
  }
  